<html>
	<head>
		<meta charset="UTF-8">
		<title>
			MAOU Quizz - {{name_page}}
		</title>

		<link rel = "stylesheet" href="css/useless.css">
		<link rel = "stylesheet" href="css/font-awesome-4.6.1/css/font-awesome.css">

		<script type="text/javascript" src="/_ah/channel/jsapi"></script>
	</head>
	<body id="body">
		<div id="logo_head">
			<img src="img/maou_logo_blue.png">
		</div>
		<header>
	        <nav>
	        	<span class="gauche">
	        	</span>
	        	<span class="droite">
	            {% if user %}
		        	<label class="connected">You are connected as {{user.username}}</label>
		        {% endif %}
		        {% if not user %}
		        	<label class="connected">You are not connected</label>
		        {% endif %}
		    </span>
	        	<span class="center">
	            <a href="/" >Home</a>
	            {% if not user %}
	            	<a href="/login">Log in</a>
	            {% endif %}
	            {% if user %}
	            	<a href="javascript:void(0)" onclick="deleteSession(); window.location='/logout'">Log out</a>
	            {% endif %}
	            {% if not user %}
	            	<a href="/signup">Sign up</a>
	            {% endif %}

	            {% if user %}
		            {% if session %}
				        <a href="/session">Session</a>
		            {% else %}
		            	<a href="/join_session">Join</a>
		            {% endif %}
		        {% endif %}
	        </span>
	        </nav>
	    </header>

	    {% block content %}
	    {% endblock %}

	    <script type="text/javascript">

	    	var socket = null;

	    	function createSession(){
	    		var channel = new goog.appengine.Channel('{{ token }}');
	            socket = channel.open();
	            socket.onopen = onOpened;
	            socket.onmessage = onMessage;
	        }

	        function deleteSession(socket){
	        	if(socket != null)
	        		socket.close();
	        }

	        function getCookie(cname) {
			    var name = cname + "=";
			    var ca = document.cookie.split(';');
			    for(var i = 0; i <ca.length; i++) {
			        var c = ca[i];
			        while (c.charAt(0)==' ') {
			            c = c.substring(1);
			        }
			        if (c.indexOf(name) == 0) {
			            return c.substring(name.length,c.length);
			        }
			    }
			    return null;
			}
	    </script>
	</body>
</html>