{% extends "base.html" %}

{% block content %}
<div id="container">
    <div id="div_title">
        <label name="title_page">Join Session</label>
    </div>
    <div id="join">
        <div>
            {% if sessions|length > 0 %}
                <select name="Sessions" id="Sessions">
                    {% for s in sessions %}
                        <option name="{{s.name}}" value="{{s.key().id()}}">{{s.name}}</option>
                    {% endfor %}
                </select>
                <div>
                    <button name="join" onclick="createSession(); return false;">Join</button>
                </div>
            {% else %}
                <p class="error">We are sorry, but there are no session currently running :'(</p>
            {% endif %}
        </div>
    </div>
</div>

    <script type="text/javascript">

        function onOpened(){
            var elem = document.getElementById("Sessions");
            var sess_id = elem.options[elem.selectedIndex].value;
            var mess = 'id_session=' + sess_id
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/join_session', true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send(mess);
        }

        function onMessage(mess){
            window.location = mess.data;
        }

    </script>
{% endblock %}