{% extends "base.html" %}

{% block content %}
<div id="container">
    <div id="div_title">
        <label name="title_page">Login</label>
    </div>
    {% if error %}
        <p class = "error"> {{error}} </p>
    {% endif%}
    <div id="login">
        <form method="POST" name="form-border">
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-male fa-fw" aria-hidden="true"></i></span>
                <input class="form-control" type="text" placeholder="User Name" name="username">        
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                <input class="form-control" type="password" placeholder="Password" name="password">                
            </div>
            <div>
                <span class="button"><i class="fa fa-lock fa-fw" aria-hidden="true"></i></span>
                <input type="submit" name="login" value="Login">
            </div>
        </form>
    </div>
</div>
{% endblock %}