{% extends "base.html" %}

{% block content %}
<div id="container">
    <div id="div_title">
        <h1>Welcome to MAOU Quizz !</h1>
        {% if error %}
            <p class = "error"> {{error}} </p>
        {% endif%}
        {% if not user %}
            <p>Please <a href="/login">login </a> or <a href="/signup"> sign up</a> if you don't have an account</p>
        {% endif %}
    </div>
    <br>
    <br>
    <br>
    {% if user %}
        <div id="create_session">
            
            <form METHOD="{% if not session %}POST{% else %}GET{% endif %}" action="{% if not session %}/newsession{% else %}/session{% endif %}" name="form-border">
                {% if not session %}
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Session Name" name="session_name">
                    </div>
                    <div>
                        <input type="submit" name="create_session" value="Create Session">
                    </div>

                {% else %}

                    <p>You are already connected to a session! Quit it before you can create a new one ;)</p>
                    <div>
                        <input type="submit" name="create_session" value="Join the current session">
                    </div>

                {% endif %}
            </form>
            
        </div>
    {% endif %}
</div>
{% endblock %}