{% extends "base.html" %}

{% block content %}
    <div id="container">
        <div id="div_title">
            <label name="title_page">Session Master : {{session.name}}</label>
        </div>
        <div id="div-border">
            <div id="user_number">
                User connected : <span id="user_number_nb">{{nb_users}}</span>
            </div>
            <div id="create_question">
                <form id="form_create_q">
                    <div class="input-group margin-bottom-sm">
                        <input class="form-control" type="text" placeholder="Question" name="question">        
                    </div>
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Answer" name="answer">
                    </div>
                    <div id="div_button_answer">
                        <input type="button" name="add_p_a" value="Add Possible Answer" onclick="add_answer()">
                    </div>
                    <div>
                        <input type="button" name="add_q" value="Add Question" onclick="add_question()">
                    </div>
                </form>
            </div>
            <form name="formquest" >
                <div id="list_question">
                    <select name="listing" id="listing" size="5" onchange="preview(this)">
                        <!-->{% set i = 1 %}
                        {% for q in questions %}
                            <option name="Question {{i}}" value="{{q.key().id()}}" type_question="{{q.type_question}}" question="{{q.question}}" answers_c="{{q.answers_corrects}}" answers_w="{{q.answers_wrongs}}">{{q.question}}</option>
                            {% set i = i+1 %}
                        {% endfor %}
                        <-->

                    </select>
                </div>
                <form>
                    <div class="input-group">
                            <input class="form-control" type="text" placeholder="Timer in seconds (default is 30s)" name="timer" id="timer">
                    </div>
                </form>
                <div>
                    <input type="button" name="send_question" value="Send" onclick="display_stop(); return false;">
                </div>
            </form>
            <div id="sent">

            </div>
            <div id="preview">
                <div>
                    <label id="labelpreviewQ" class="labelpreviewQ"></label>
                </div>
                <div>
                    <label id="labelpreviewA"></label>
                </div>
            </div>
            
            <div id="div_stat">
                
            </div>

            <div id="div_answers_collection">
                <table>
                    <tr>
                        <th>User</th>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Right/Wrong</th>
                    </tr>
                </table>
            </div>
            <form>
                <center><input type="button" name="stop" value="Stop Answers" id="stop_button" onclick="stopQuest()"></center>
                <input type="button" name="send_to_users" id="send_to_users" value="Send stats to users" onclick="sendStats()">
            </form>
            <form method="GET" action="/end">
                <input type="submit" name="end" value="End of Session">
            </form>
        </div>
    </div>
<script>
        var nb_users = 0;
        var idQ_selected = -1;
        var timer;
        document.getElementById("stop_button").style.display="none";
        function preview(question){
            var val = question.options[question.selectedIndex];
            var questionQ = val.getAttribute("question"); 
            var answers = val.getAttribute("answers_c");
            document.getElementById("labelpreviewQ").innerHTML = questionQ;
            document.getElementById("labelpreviewA").innerHTML = answers;
            var answers_w =val.getAttribute("answers_w");
            if (answers_w!=" ") {
                var divtmp = document.getElementById("div_ans_w")
                if (divtmp) {
                    var parent = document.getElementById("preview");
                    parent.removeChild(divtmp);
                };
                var tab_ans_w = answers_w.split("|");
                var para = document.createElement("div");
                para.setAttribute("id","div_ans_w");
                var element = document.getElementById("preview");
                element.appendChild(para);
                for (i =0; i<tab_ans_w.length; i++) {
                    para = document.createElement("div");
                    var node = document.createTextNode(tab_ans_w[i]);
                    para.appendChild(node);
                    element = document.getElementById("div_ans_w");
                    element.appendChild(para);
                };
            }
            else{
                var parent = document.getElementById("preview");
                var child = document.getElementById("div_ans_w");
                if(child != null)
                    parent.removeChild(child);

            };
        }
        function add_answer(){
            var input=document.createElement("input");
            input.setAttribute("type","text");
            input.setAttribute("name","answer_w");
            input.setAttribute("placeholder","Wrong Answer");
            input.setAttribute("class","form-control");
            var div_input = document.createElement("div");
            div_input.setAttribute("class", "input-group");
            div_input.appendChild(input);
            var form = document.getElementById("form_create_q");
            var div=document.getElementById("div_button_answer");
            form.insertBefore(div_input,div);
        }

        function display_stop(){
            nb_users = 0;
            var input=document.getElementById("stop_button").style.display="block";
            document.getElementById('send_to_users').style.visibility = 'hidden';
            sendQuest();
            
            //recup timer
            timer = document.getElementById("timer").value;
            if(timer==""){
                timer = 30;
            }
            timer = parseInt(timer);
            timer = timer * 1000;
            setTimeout(stopQuest, timer);
        }

        function onMessage(mess){
            
            var data = mess.data.split("|");
            var type = data[0];
            
            if(type == "alert"){
                var parent = document.getElementById("sent");
                var text = document.createTextNode(data[1]);

                parent.appendChild(text);
            }else if(type == "answer"){
                var idQ = data[1];
                var answerUser = data[2];
                var questionQ;
                var answers;
                var answers_w;
                if(idQ == idQ_selected){
                    nb_users++;
                    var elem = document.getElementById("listing");
                    var question = elem.options;
                    
                    for(i=0;i<question.length;i++){
                        var id=question[i].getAttribute("value");
                        if(id == idQ){
                            questionQ = question[i].getAttribute("question"); 
                            answers = question[i].getAttribute("answers_c").split("|");
                            answers_w = question[i].getAttribute("answers_w").split("|");
                        } 
                    }
                    var para = document.getElementsByClassName("p_stat")[0];

                    if(!para) {
                        var parent = document.getElementById("div_stat");
                        para = document.createElement("p");
                        paraText = document.createTextNode("Statistics :");
                        para.appendChild(paraText);
                        para.setAttribute("class", "p_stat");
                        parent.appendChild(para);
                    }
                    updateStats(questionQ, answerUser, nb_users);   
                }
            }else if(type == "nb_users") {
                document.getElementById("user_number_nb").innerHTML = data[1];
            }else if(type == "error") {
                alert(data[1]);
            }else if(type == "newquestion") {
                var data2 = mess.data.split('~/');
                var id = data2[0].split('|')[1];
                var type = data2[1];
                var text = data2[2];
                var answer_c = data2[3];
                var answer_w = data2[4];
                display_new_question(id, type, text, answer_c, answer_w);
            }
        }
    
        function updateStats(question, answer, total) {
            var div = document.getElementById("div_stat");
            var para = div.getElementsByTagName("p");
            if (para[1]) {
                var paraChanged = false;

                for (var i = 1 ; i < para.length ; i++) {
                    if (para[i].getElementsByTagName("label")[0].innerHTML == question) {
                        var answerChanged = false;
                        var answers_div = para[i].getElementsByTagName("div");
                        for (var j = 0 ; j < answers_div.length ; j++) {
                            if (answers_div[j].innerHTML.indexOf(answer) == 0) {
                                var answers = answers_div[j].innerHTML.substring(0, answer.length + 3);
                                var count = answers_div[j].innerHTML.substring(answer.length + 3);

                                count = parseInt(count);
                                count = count + 1;
                                
                                answers_div[j].innerHTML = answers + count;
                                answerChanged = true;
                                paraChanged = true;
                            }
                        }
                         
                        if (answerChanged == false) {
                            var newAnswer = document.createElement("div");
                            var newAnswerText = document.createTextNode(answer + " : 1");

                            newAnswer.appendChild(newAnswerText);
                            para[i].appendChild(newAnswer);
                            paraChanged = true;
                        }

                        var labelTotal = para[i].getElementsByTagName("label")[1];
                        para[i].removeChild(labelTotal);
                        var labelTotal = document.createElement("label");
                        var labelTotalText = document.createTextNode("Total : " + total);

                        labelTotal.appendChild(labelTotalText);
                        para[i].appendChild(labelTotal);
                    }
                }

                if (paraChanged == false) {
                    var newPara = document.createElement("p")
                    var newQuestion = document.createElement("label");
                    newQuestion.setAttribute("class", "labelpreviewQ");
                    var newQuestionText = document.createTextNode(question);
                    var newAnswer = document.createElement("div");
                    var newAnswerText = document.createTextNode(answer + " : 1");  
                    var newTotal = document.createElement("label");
                    var newTotalText = document.createTextNode("Total : " + total);

                    newAnswer.appendChild(newAnswerText);
                    newQuestion.appendChild(newQuestionText);
                    newTotal.appendChild(newTotalText);
                    newPara.appendChild(newQuestion);
                    newPara.appendChild(newAnswer);
                    newPara.appendChild(newTotal);
                    div.appendChild(newPara);
                }
            } else {
                var newPara = document.createElement("p");
                var newQuestion = document.createElement("label");
                newQuestion.setAttribute("class", "labelpreviewQ");
                var newQuestionText = document.createTextNode(question);
                var newAnswer = document.createElement("div");
                var newAnswerText = document.createTextNode(answer + " : 1"); 
                var newTotal = document.createElement("label");
                var newTotalText = document.createTextNode("Total : " + total);

                newAnswer.appendChild(newAnswerText);
                newQuestion.appendChild(newQuestionText);
                newTotal.appendChild(newTotalText);
                newPara.appendChild(newQuestion);
                newPara.appendChild(newAnswer);
                newPara.appendChild(newTotal);
                div.appendChild(newPara);
            }
        }

        function sendQuest(){
            var elem = document.getElementById("listing");
            var question = elem.options[elem.selectedIndex];
            var quest_id = question.value; 
            idQ_selected = quest_id;
            var questionQ = question.getAttribute("question"); 
            var type_question = question.getAttribute("type_question"); 
            var answers = question.getAttribute("answers_c").split("|");
            var answers_w =question.getAttribute("answers_w").split("|");

            var mess = 'id_question=' + quest_id + '&question='+questionQ + '&type_question='+type_question;

            for (var i = answers.length - 1; i >= 0; i--) {
                mess += '&ansc=' + answers[i];
            }

            for (var i = answers_w.length - 1; i >= 0; i--) {
                mess += '&answ=' + answers_w[i];
            }

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/send', false);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send(mess);
        }

        function add_question() {
            var form = document.getElementById("form_create_q");
            var question = form.getElementsByTagName("div")[0].getElementsByTagName("input")[0].value;
            var answer = form.getElementsByTagName("div")[1].getElementsByTagName("input")[0].value;
            var all_divs = form.getElementsByTagName("div");
            var answer_w = "";
            for (var i = 2 ; i < all_divs.length - 2; i++) {
                answer_w += "answer_w=" + all_divs[i].getElementsByTagName("input")[0].value;
                if(i != all_divs.length - 2)
                    answer_w+="&"
            }
            var mess = "question=" + question + "&answer=" + answer + "&" + answer_w;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/newquestion', false);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send(mess);
            clearfields();
        }
    
        function clearfields(){
            document.forms['form_create_q'].reset();
            var form = document.getElementById("form_create_q");
            var childs = form.getElementsByTagName("div");
            var childs_r = []; 
            for(i=2;i<childs.length-2;i++){
                childs_r[i-2] = childs[i];
            }
            for(i=0; i<childs_r.length;i++){
                form.removeChild(childs_r[i]);
            }
            
        }

        function onOpened(){
            
        }

        function stopQuest(){
            clearTimeout(timer);
            document.getElementById("sent").innerHTML = "";
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/stop', false);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send("id_quest=" + idQ_selected);
            idQ_selected = -1;
            document.getElementById('send_to_users').style.visibility = 'visible';
            document.getElementById("stop_button").style.display="none";
        }

        function getResults() {
            var div = document.getElementById("div_stat");
            return div.outerHTML;
        }

        function sendStats(){
            mess = getResults();

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/sendusr', false);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send("div=" + mess);
        }

        document.getElementById('send_to_users').style.visibility = 'hidden';
        document.addEventListener('DOMContentLoaded', function() {
           createSession();
        }, false);

        function display_new_question(id, type, text, answer_c, answer_w){
            var option = document.createElement("option");
            option.setAttribute("value", id);
            option.setAttribute("type_question", type);
            option.setAttribute("question", text);
            option.setAttribute("answers_c", answer_c);
            option.setAttribute("answers_w", answer_w);
            var textquestion = document.createTextNode(text);
            option.appendChild(textquestion);
            var parent = document.getElementById("listing");
            parent.appendChild(option);
        }

    </script>
{% endblock %}