{% extends "base.html" %}

{% block content %}
<div id="container">
    <div id="div_title">
        <label name="title_page">Session User : {{session.name}}</label>
    </div>
    <form method="GET" action="/quit">
        <input type="submit" name="quit_session" value="Quit session">
    </form>
    <div id="div_question">
        <label>Question</label>
        <form>
            <input type="radio" name="listanswers" checked>Rep 1<br>
            <input type="radio" name="listanswers">Rep 2<br>
            <input type="text" name="answer" placeholder="Answer"><br>
            <input type="button" name="send_answer" value="Send" onclick="sendAnswer()">
        </form>
    </div>
    <div id="div_rep">
        <label id="label_rep_juste">Answer Right / Wrong</label>
    </div>
    <div id="div_img">
        <label>Waiting for the next question</label><br>
        <img src="img/cat.jpg">
    </div>
    <div id="div_end">
        <label>Session is over</label>
    </div>
</div>

    <script type="text/javascript">

        function display_results(results) {
            var parent = document.getElementById("container");
            var div = document.createElement("div");
            div.setAttribute("id", "stats_question");
            var para = document.createElement("p");
            var stats = document.getElementById("div_stat");
            if (!stats) {
                parent.appendChild(div);
                parent.innerHTML += results;
            }
        }

        function onOpened(){
            var sess_id = {{session.key().id()}};
            var mess = 'id_session=' + sess_id
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/join_session', true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send(mess);
        }

        function onMessage(mess){
            
            //On regarde le type du message reçu par le serveur
            var data = mess.data.split("~/");
            var type = data[0];

            if(type == 'question'){

                var infos_quest = data[1].split("|");

                var id_quest = infos_quest[0];
                var type_question = infos_quest[1];
                var text_quest = infos_quest[2];

                var answers_corrects = data[2].split("|");
                var answers_wrongs = data[3].split("|");

                console.log("ID :" + id_quest);
                console.log("Type :" + type_question);
                console.log("Text :" + text_quest);
                console.log("Corrects :" + answers_corrects);
                console.log("Wrongs :" + answers_wrongs);
                
                display_question(text_quest, answers_corrects, answers_wrongs, parseInt(type_question), id_quest);

            }else if(type == 'stop'){
                
                clear();
                displayAttente(data[1]);

            }else if(type == 'end'){
                
                clear();
                document.location.href='/';

            }else if(type == 'stats'){
                display_results(data[1]);
            }

        }

        function sendAnswer(){
            //On récupère l'id de la question
            var div = document.getElementById("div_question");
            var id_quest = div.getAttribute("id_quest");
            var type = div.getAttribute("question_type");

            //On récupère la réponse de l'utilisateur
            var answ = ''
            var form_ans = document.getElementById("id_answer_user");
            if(type == "1" || type == "2"){
                textarea = form_ans.getElementsByTagName("textarea")[0];
                answ = textarea.value;
            }else if(type == "3"){
                answ = form_ans.elements["listanswers"].value;
            }

            var mess = 'id_quest='+id_quest+'&answer='+answ;

            //On envoie les deux au serveur avec un |
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/send_answer', false);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send(mess);
            clear();
            displayAttente();
        }

        document.addEventListener('DOMContentLoaded', function() {
           createSession();
        }, false);

    </script>

    <script>
        function displayAttente(st = ""){
            var body = document.getElementById("container");
            var div = document.createElement("div");
            div.setAttribute("id", "div_img");
            var label = document.createElement("label");
            var attente = document.createTextNode("Waiting for the next question");
            label.appendChild(attente);
            var br = document.createElement("br");
            var img = document.createElement("img");
            img.setAttribute("id", "img");
            img.setAttribute("src", "img/cat.jpg");
            div.appendChild(label);
            div.appendChild(br);
            div.appendChild(img);
            body.appendChild(div);
            console.log("tot" + st + "tot");
            if (st != "" && st != " ") {
                var div_r = document.createElement("div");
                div_r.setAttribute("id", "div_rep");
                body.appendChild(div_r);
                var label_r = document.createElement("label");
                label_r.setAttribute("id", "label_rep_juste");
                div_r.appendChild(label_r);
                document.getElementById("div_rep").style.display="block";
                var st1=document.createTextNode("The correct answer was : " + st);
                var parent = document.getElementById("label_rep_juste");
                parent.appendChild(st1);
            };
        } 

        function clear(){
            /*var body = document.getElementById("body");
            var header = document.getElementsByTagName("header")[0];
            var child = document.getElementById("body").firstChild;

            body.removeChild(child);

            var session_name = document.getElementById("body").firstChild;

            while (child) {
                body.removeChild(child);
                child = document.getElementById("body").firstChild;
            }

            body.appendChild(header);
            body.appendChild(session_name);*/
            var parent = document.getElementById("container");
            var child = document.getElementById("div_img");
            if (child) {
                parent.removeChild(child);
            };
            child=document.getElementById("div_question");
            if (child) {
                parent.removeChild(child);
            };
            child=document.getElementById("div_rep");
            if (child) {
                parent.removeChild(child);
            };
            child=document.getElementById("div_end");
            if (child) {
                parent.removeChild(child);
            };
            child=document.getElementById("stats_question");
            if (child) {
                parent.removeChild(child);
            };
            child=document.getElementById("div_stat");
            if (child) {
                parent.removeChild(child);
            };
        }

        // return a random permutation of a range (similar to randperm in Matlab)
        function randperm(maxValue){
            // first generate number sequence
            var permArray = new Array(maxValue);
            for(var i = 0; i < maxValue; i++){
                permArray[i] = i;
            }
            // draw out of the number sequence
            for (var i = (maxValue - 1); i >= 0; --i){
                var randPos = Math.floor(i * Math.random());
                var tmpStore = permArray[i];
                permArray[i] = permArray[randPos];
                permArray[randPos] = tmpStore;
            }
            return permArray;
        }

        function display_question(question_name, answers_corrects, answers_wrongs, question_type, id_quest){
            clear();
            var div_container = document.getElementById("container");
            console.log(answers_corrects.length + "\n" + answers_wrongs.length);
            var div = document.createElement("div");
            div.setAttribute("id", "div_question");
            div.setAttribute("id_quest", id_quest);
            div.setAttribute("question_type", question_type);
            var label = document.createElement("label");
            label.setAttribute("id", "question_text")
            var question = document.createTextNode(question_name);

            label.appendChild(question);
            div.appendChild(label);

            var form = document.createElement("form");
            form.setAttribute("id", "id_answer_user");

            if (question_type == 1 || question_type == 2) {
                var textarea = document.createElement("textarea");
                form.appendChild(textarea);
            } else if (question_type == 3) {
                //var answers_corrects_loc = answers_corrects.split("|");
                //var answers_wrongs_loc = answers_wrongs.split("|");

                var answers = answers_corrects.concat(answers_wrongs);
                var indices = randperm(answers.length);
                var answers_randomized = new Array(answers.length);

                for (var i = 0 ; i < answers.length ; i++) {
                    answers_randomized[i] = answers[indices[i]];
                }

                for (answer in answers_randomized) {
                    var input = document.createElement("input");
                    input.setAttribute("type", "radio");
                    input.setAttribute("name", "listanswers");
                    input.setAttribute("value", answers_randomized[answer]);

                    form.appendChild(input);

                    var answer_r = document.createTextNode(answers_randomized[answer]);
                    var br = document.createElement("br");

                    form.appendChild(answer_r);
                    form.appendChild(br);
                }
            }

            var post = document.createElement("input");
            post.setAttribute("type", "submit");
            post.setAttribute("name", "send_answer");
            post.setAttribute("value", "send");
            post.setAttribute("onclick", "sendAnswer()");

            div.appendChild(form);
            div.appendChild(post);
            div_container.appendChild(div);
            div.style.display="block";
        }
    </script>


{% endblock %}

