* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    font-family: sans-serif;
    min-width: 1000px;
}

body {
    overflow: auto;
}

#logo_head {
    text-align: center;
    background-color: black;
    border-bottom: #93a2ad 2px solid;
}

body > header {
    position: absolute;
    width: 100%;
	height: 40px;
    background-color: #3c4951;
    text-align: center;
}

body > header nav {
    /*float: right;*/
    /*position: absolute;*/
    width: 100%;
    text-align: center;
}

body > header nav a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    height: 40px;
    font-size: 14px;
}

nav span.gauche {
    float: left;
}

nav span.droite {
    float : right;
    margin-top: 10px;
    padding-right: 10px;
}

body > header nav a:hover {
    background-color: #93a2ad;
    font-weight: bold;
    color: #222222;
}

header span {
    color: #555555;
    font-size: 0.8rem;
}

form[name="form-border"] {
    padding: 20px;
    border-style: solid;
    border-color: gray;
    border-radius: 20px;
}

input[name="answer"] {
    width: 100%;
    height: auto;
    text-align: center;
}

input[type="text"]{
    max-width: 100%;
    width: 400px;
    height: auto;
    text-align: center;   
}

input[type="password"]{
    max-width: 100%;
    width: 400px;
    height: auto;
    text-align: center;   
}

#container {
    position: absolute;
    right: 25%;
    top: 150px;
    width: 50%;
    text-align: center;
}

#div_question {
    position: relative;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    display: none;
}

#create_question {
    position: relative;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

#div_img {
    position: relative;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

#div_rep {
    position: relative;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    display: none;
}

#div_end {
    position: relative;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    display: none;
}

#create_session {
    position: relative;
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

#stop_button {
    display : none;
}

#login {
    position: relative;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
    border-collapse:collapse;
    border-spacing: 0;
}

caption
{
caption-side:bottom;
font-weight:bold;
font-style:italic;
margin:4px;
}

table,th, td
{
border: 1px solid gray;
}

th, td
{
height: auto;
padding:4px;
vertical-align:middle;
}

th {
    background: #A0A0A0;
    font-weight: bold;
}

td {
    background: #FAFAFA;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }  

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #FEFEFE; } 

tr td:hover { background: #666; color: #FFF; }

#join {
    position: relative;
    margin-top: 50px;
    width: 100%;
    text-align: center;
}


#signup {
    position: relative;
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

#preview {
    position: relative;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

#div_answers_collection {
    position: relative;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    display: none;
}

form[name="formquest"] {
    position: relative;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

label[name="title_page"] {
    font-size: 40px;
    font: bold;
}

#div_title {
    position: relative;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

#login div {
    margin-bottom: 20px;
}

#div-border {
    padding: 20px;
    border-style: solid;
    border-color: gray;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.connected{
    color: #ffffff;
    font-size: 14px; 
}

.labelpreviewQ {
    font-weight: bold;
    font-size: 20px;
}

.p_stat{
    font-weight: bold;
    font-size: 24px;
}

.error{
    color: #ff0000;
}